<div class="apropos-container fade-in visible">
    <h1>Bouge ton Jobs, <em>c'est quoi ?</em></h1>
    <p class="subtitle">La plateforme simplifiée pour trouver et postuler aux offres d'emploi.</p>
    
    <p>Plateforme qui permet de <span class="highlight">centraliser</span> toutes les offres en une et d’y <span class="highlight">postuler</span>.</p>

    <h2><i class="fas fa-users"></i> Pour qui ?</h2>
    <p>Initialement créée pour trouver des jobs alternants, la plateforme est maintenant dédiée à tous types d’utilisateurs, passant d’une simple recherche de stage jusqu’au CDI en passant par bien d’autres types de contrats.</p>

    <h2><i class="fas fa-user-friends"></i> Et par qui ?</h2>
    <p>Initialement en quête d’alternance et voyant que les recherches se compliquaient faute de plateforme en place, deux étudiants se sont donné pour but de rendre cela plus simple et facile pour ne pas se lasser de rechercher un emploi.</p>

    <button class="cta-button">Explorez nos offres</button>
</div>
